h1 = @chapter.name
h3 = "Contains the following text:"
p = @chapter.text
p
p  #{link_to "Back to the chapters of this book.", genre_book_chapters_path} or #{link_to "Edit", edit_genre_book_chapter_path}
